<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuarios</title>
</head>
<body>
    <h2>Cadastrar Novo Usuário</h2>
    <!-- O action aponta para a rota do Controller -->
    <form th:action="@{/usuarios/salvar}" th:object="${usuario}" method="post">
        
        <label>Nome:</label>
        <input type="text" th:field="*{nome}" placeholder="Digite seu nome" required />

        <label>E-mail:</label>
        <input type="email" th:field="*{email}" placeholder="ex@exemplo.com" required />

        <label>Senha:</label>
        <input type="password" th:field="*{senha}" required />

        <button type="submit">Cadastrar</button>
        <button type="reset">Limpar</button>
    </form>
</body>
</html>