<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulário de Usuário</title>
</head>
<body>
    <h2 th:text="${usuario.id == null ? 'Cadastrar Novo Usuário' : 'Editar Usuário'}"></h2>

    <form th:action="@{/usuarios/salvar}" th:object="${usuario}" method="post">
        
        <input type="hidden" th:field="*{id}" />

        <label>Nome:</label>
        <input type="text" th:field="*{nome}" required />

        <label>E-mail:</label>
        <input type="email" th:field="*{email}" required />

        <label>Senha:</label>
        <input type="password" th:field="*{senha}" required />
        
        <button type="submit" th:text="${usuario.id == null ? 'Cadastrar' : 'Salvar Alterações'}"></button>
        <a th:href="@{/usuarios/lista_usuarios}">Cancelar</a>
    </form>
</body>
</html>