<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>

    <!-- CSS externo -->
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap" rel="stylesheet">

    <!-- Google Charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>
<body>

    <div class="container">
        <div class="menu-lateral col-2">
            <h2 class="cherry-bomb-one-regular">MoneyLens</h2>
            <ul>
                <li><a th:href="@{/dashboard}" class="active">Dashboard</a></li>
                <li><a th:href="@{/transacoes}">Transações</a></li>
                <li><a th:href="@{/relatorios}">Relatório</a></li>
                <li><a th:href="@{/configuracoes}">Configurações</a></li>
            </ul>
            <button class="sair"><a th:href="@{/logout}">Sair</a></button>
        </div>
        <div id="conteudo-principal" class="col-10">
            <h1>Dashboard</h1>
            <div class="corpo-principal">
                <div class="filtros">
                    <label for="periodo">Período:</label>
                    <select id="periodo" name="periodo">
                        <option value="mensal">Mensal</option>
                        <option value="anual">Anual</option>
                        <option value="personalizado">Personalizado</option> <!--Opção para escolher um período específico -->
                    </select>
                </div>

                <div id="filtro-personalizado" style="display: none; gap: 10px; align-items: center; margin-top: 10px;">
                    <div>
                        <label for="data-inicial">De:</label>
                        <input type="date" id="data-inicial">
                    </div>

                    <div>
                        <label for="data-final">Até:</label>
                        <input type="date" id="data-final">
                    </div>
                </div>
            
                <div class="dashboard">
                    <!-- KPIs -->
                    <div class="kpi-grid">

                        <div class="card kpi-card saldo">
                            <h4>Saldo Atual</h4>
                            <p id="saldo-atual">R$ 0,00</p>
                        </div>

                        <div class="card kpi-card receita">
                            <h4>Receitas</h4>
                            <p id="renda-mensal">R$ 0,00</p>
                        </div>

                        <div class="card kpi-card despesa">
                            <h4>Despesas</h4>
                            <p id="despesa-total">R$ 0,00</p>
                        </div>

                        <div class="card kpi-card transacoes">
                            <h4>Transações</h4>
                            <p id="quantidade-transacoes">0</p>
                        </div>

                    </div>

                    <!-- GRÁFICOS -->
                    <div class="graficos-grid">

                        <div class="card grafico-card">
                            <h4>Gastos por Categoria</h4>

                            <div id="pizza-gasto-por-categoria"></div>
                        </div>

                        <div class="card grafico-card">
                            <h4>Tipo de Pagamento</h4>

                            <div id="pizza-gasto-por-tipo-pagamento"></div>
                        </div>

                    </div>

                    <!-- INSIGHTS -->
                    <div class="analytics-grid">

                        <!-- LINHA 1 -->
                        <div class="card analytics-card">
                            <h4>Últimas Transações</h4>

                            <div id="ultimas-transacoes"></div>
                        </div>

                        <div class="card analytics-card">
                            <h4>Média por Transação</h4>

                            <p id="ticket-medio">R$ 0,00</p>
                        </div>

                        <div class="card analytics-card">
                            <h4>Maior Receita Diária</h4>

                            <p id="maior-receita-dia">-</p>
                        </div>

                        <!-- LINHA 2 -->
                        <div class="card analytics-card">
                            <h4>Top Categoria</h4>

                            <p id="top-categoria">-</p>
                        </div>

                        <div class="card analytics-card">
                            <h4>Pagamento Mais Usado</h4>

                            <p id="top-pagamento">-</p>
                        </div>

                        <div class="card analytics-card">
                            <h4>Maior Gasto Diário</h4>

                            <p id="maior-gasto-dia">-</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/index.js}"></script>

</body>
</html>