<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <link rel="stylesheet" href="style.css" />
    <link rel="javascript" href="script.js" />
</head>
<body>
    <div class="login-container">
        <form id="loginForm">
            <div>
                <label for="email">E-mail:</label><br>
                <input
                    type="email"
                    id="email"
                    name="email"
                    required
                >
            </div>

            <br>

            <div>
                <label for="senha">Senha:</label><br>
                <input
                    type="password"
                    id="senha"
                    name="senha"
                    required
                >
            </div>

            <br>

            <button type="submit">Entrar</button>
        </form>

        <p id="mensagem"></p>

        <script src="script.js"></script>
    </div>
</body>
</html>