<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>

    <!-- CSS externo -->
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container">
        <div class="menu-lateral col-2">
            <h2 class="cherry-bomb-one-regular">MoneyLens</h2>
            <ul>
                <li><a th:href="@{/dashboard}">Dashboard</a></li>
                <li><a th:href="@{/transacoes}" class="active">Transações</a></li>
                <li><a th:href="@{/relatorios}">Relatório</a></li>
                <li><a th:href="@{/configuracoes}">Configurações</a></li>
            </ul>
            <button class="sair"><a th:href="@{/logout}">Sair</a></button>
        </div>
        <div id="conteudo-principal" class="col-10">
            <h1>Transações</h1>
            <div id="form-gastos">
                <form class="formulario-gasto" id="formTransacao">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" required />

                    <label for="descricao">Descrição:</label>
                    <input type="text" id="descricao" name="descricao" required />

                    <label for="valor">Valor:</label>
                    <input type="number" id="valor" name="valor" required />

                    <label for="parcela">Parcelas:</label>
                    <input type="number" id="parcela" name="parcela" min="1" />

                    <label for="data">Data:</label>
                    <input type="date" id="data" name="data" required /> <!-- Deixar data de hoje como padrão -->
                    
                    <label for="tipo_pagamento">Forma de Pagamento:</label>
                    <select id="tipo_pagamento" name="tipo_pagamento" required>
                        <option value="PIX">Pix</option>
                        <option value="CARTAO_DEBITO">Cartão de Débito</option>
                        <option value="CARTAO_CREDITO">Cartão de Crédito</option>
                        <option value="DINHEIRO">Dinheiro em Espécie</option>
                        <option value="TRANSFERENCIA">Transferência Bancária</option>
                        <option value="DEPOSITO_BANCARIO">Depósito</option>
                    </select>

                    <label for="categoria">Categoria:</label> <!--Lista gerada do BD, escolhas fixas e o cliente pode adicionar -->
                    <select id="categoria" name="categoria" required> </select>
                    <input type="submit" />
                </form>
            </div>
            </br>

            <div class="linha-pontilhada"></div>

            <div id="lista-gastos" class="extrato">
                <h2>Extrato da Semana</h2>

                <table>
                    <tbody>
                        <!-- Grupo: 17/05/2026 -->
                        <tr class="grupo-data">
                            
                        </tr>

                        <tr class="movimento">
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script th:src="@{/js/transacao.js}"></script>
</body>
</html>